  <div *ngIf="additive">
        <h1>{{additive.name}}</h1>
        <img [src]="additive.image" [alt]="additive.name">        
        {{additive.quantity}}         
        {{additive.purpose}}
        {{additive.madeBy}}        
        {{additive.rating}}
        {{additive.ingredients}}
        {{additive.category}}

<br>
<h2><code>Rating = {{additive.rating}}</code></h2>
<h3>Here you can change the rating: <custom-counter [(counter)]="additive.rating"></custom-counter></h3>
<hr>
</div>  
 <button class="btn btn-primary" routerLink="/additives">BackToAdditives</button>
 <button class="btn btn-primary" *ngIf=isLogged()&&!isFavourited  (click)="saveToFavorites(additive)">Save to favourites</button>
 <button class="btn btn-primary" *ngIf=isFavourited (click)="removeFromFavourites(additive)">Remove from favourites</button>